*{
    margin: 0;
    padding: 0;
}
.banner{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    margin: 0 0 10 0;
}